<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<h3>Comments</h3>
<p><%= @post.comments.count %> comments</p>
<h4> <%= render @post.comments %></h4>
<h3><%= render "comments/form"%></h3>
<% if user_signed_in? %>
  <%= link_to "Edit", edit_post_path, class: "btn btn-primary" %>
  <%= link_to "Delete Post", post_path(@post), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
