<!DOCTYPE html>
<html>
  <head>
    <title>GeekOverFlow - Rails Forum</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= csrf_meta_tags %>
  </head>
	<body>
    <header class="container">
      <h1><%= link_to "GeekOverFlow", root_path %> </h1>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
  		<p class="alert"><%= alert %></p>
<%= yield %>
    </div>
    <footer class="footer">
      CopyRight VladimirSychkov, GeekHub 2017, Ukraine
    </footer>
	</body>
</html>
